<%content_for :main do%>
<h2>编辑店铺</h2>

<hr class="space">

<% form_for @shop, :url => shop_url(@shop),:html=>{:multipart => true} do |f| %>
<%= f.error_messages %>
<fieldset>
	<p>
		<%=f.label :name,"店铺名称<span class='required'> * </span><br>"%>
		<%=f.text_field :name%>
	</p>

	<p>
		<%=f.label :address,"店铺地址<span class='required'> * </span><br>"%>
		<%=f.text_field :address%>
	</p>

	<p>
		<%=f.label :province,"所在省份<span class='required'> * </span><br>"%>
		<%=f.text_field :province%>
	</p>

	<p>
		<%=f.label :shop_type,"是否旗舰店<span class='required'> * </span><br>"%>
		<%=f.check_box :shop_type%>
	</p>

	<p>
		<%=f.label :city,"所在城市<span class='required'> * </span><br>"%>
		<%=f.text_field :city%>
	</p>

	<p>
		<%=f.label :description,"店铺简介<span class='required'> * </span><br>"%>
		<%=f.text_area :description%>
	</p>

	<p>
		<button type="submit"><span>提交</span></button> | <a href="/shops">返回</a>
	</p>
</fieldset>
<%end%>

<%end%>

<%content_for :sidebar do%>
	<%=render :partial=>"search"%>
<%end%>