<%content_for :main do%>
<h2>新增店铺</h2>

<hr class="space">

<% form_for @shop, :url => shops_url,:html=>{:multipart => true} do |f| %>
<%= f.error_messages %>
<fieldset>
	<p>
		<%=f.label :name,"店铺名称<span class='required'> * </span><br>"%>
		<%=f.text_field :name%>
	</p>
	<p>
		<%=f.label :name_en,"店铺名称<span class='required'> * </span><br>"%>
		<%=f.text_field :name_en%>
	</p>
	<p>
		<%=f.label :address,"店铺地址<span class='required'> * </span><br>"%>
		<%=f.text_field :address%>
	</p>
	<p>
		<%=f.label :address_en,"店铺地址<span class='required'> * </span><br>"%>
		<%=f.text_field :address_en%>
	</p>

	<p>
		<%=f.label :province,"所在省份<span class='required'> * </span><br>"%>
		<%=f.text_field :province%>
	</p>
	<p>
		<%=f.label :province_en,"所在省份<span class='required'> * </span><br>"%>
		<%=f.text_field :province_en%>
	</p>

	<p>
		<%=f.label :city,"所在城市<span class='required'> * </span><br>"%>
		<%=f.text_field :city%>
	</p>
	<p>
		<%=f.label :city_en,"所在城市<span class='required'> * </span><br>"%>
		<%=f.text_field :city_en%>
	</p>

	<p>
		<%=f.label :shop_type_id,"是否旗舰店<span class='required'> * </span><br>"%>
		<%=f.text_field :shop_type_id%>
	</p>
	
	<p>
		<% fields_for :asset do |asset| %>
			<%= asset.label :uploaded_data,"上传图片<span class='required'> * </span><br>"%>
			<%= file_field "asset" ,"uploaded_data" %>
		<% end %>
	</p>

	<p>
		<button type="submit"><span>提交</span></button> | <a href="/shops">返回</a>
	</p>
</fieldset>
<%end%>

<%end%>

<%content_for :sidebar do%>
	<%=render :partial=>"search"%>
<%end%>