<%content_for :main do%>
<h2>店铺 <%=@shop.name%></h2>

<hr class="space">

<fieldset>
	<p>
		<b>店铺名称:</b>
		<%=h @shop.name%>
	</p>

	<p>
		<b>店铺地址:</b>
		<%=h @shop.address%>
	</p>

	<p>
		<b>所在省份:</b>
		<%=h @shop.province%>
	</p>

	<p>
		<b>所在城市:</b>
		<%=h @shop.city%>
	</p>

	<p>
		<b>是否旗舰店:</b>
		<%=h @shop.display_shop_type%>
	</p>

	<p>
		<b>店铺简介:</b>
		<%=h @shop.description%>
	</p>

	<p>
		<a href="/shops/<%=@shop.id%>/edit">编辑</a> | <a href="/shops">返回</a>
	</p>
</fieldset>

<%end%>

<%content_for :sidebar do%>
	<%=render :partial=>"search"%>
<%end%>