<%content_for :main do%>
<h2>店铺 <%=@shop.name%></h2>

<hr class="space">

<fieldset>
	<%= display_field("店铺名称", @shop, "name") %>

	<%= display_field("店铺地址", @shop, "address") %>

	<%= display_field("所在省份", @shop, "province") %>

	<%= display_field("所在城市", @shop, "city") %>

	<p>
		<b>是否旗舰店:</b>
		<%=h @shop.display_shop_type%>
	</p>
	
	<%@shop.assets.each do |asset|%>
	<p>
	  <span>缩略图</span><br/>
		<%= image_tag asset.uploaded_data.url(:thumb) %><br/>
	  <span>android图</span><br/>
		<%= image_tag asset.uploaded_data.url(:android) %><br/>
	  <span>iphone图</span><br/>
		<%= image_tag asset.uploaded_data.url(:iphone) %><br/>
	</p>
	<%end%>

	<p>
	</p>

	<p>
		<a href="/shops/<%=@shop.id%>/edit">编辑</a> | <a href="/shops">返回</a>
	</p>
</fieldset>

<%end%>

<%content_for :sidebar do%>
	<%=render :partial=>"search"%>
<%end%>