<div class="pageTitle">
  <h1>Edit <%= @serial.name %></h1>
</div>

<div class="toolbar">
  <div class="leftItem backButton">
    <a href="<%= url_for :action => :show, :id => @serial.object %>">Cancel</a>
  </div>
  <div class="rightItem regularButton">
    <a class="button" href="<%= url_for :action => :delete, :id => @serial.object %>">Delete</a>
  </div>
</div>

<div class="content">
  <form method="POST" action="<%= url_for :action => :update %>">
    <input type="hidden" name="id" value="<%= @serial.object %>"/>
    <ul>
      
          <li>
            <label for="serial[name]" class="fieldLabel">Name</label>
            <input type="text" name="serial[name]" value="<%= @serial.name %>" <%= placeholder( "Name" ) %> />
          </li>
      
          <li>
            <label for="serial[description]" class="fieldLabel">Description</label>
            <input type="text" name="serial[description]" value="<%= @serial.description %>" <%= placeholder( "Description" ) %> />
          </li>
      
          <li>
            <label for="serial[brand_id]" class="fieldLabel">Brand</label>
            <input type="text" name="serial[brand_id]" value="<%= @serial.brand_id %>" <%= placeholder( "Brand" ) %> />
          </li>
      
    </ul>
    <input type="submit" class="standardButton" value="Update"/>
  </form>
</div>