<div class="pageTitle">
  <h1><%= @serial.name %></h1>
</div>

<div class="toolbar">
  <div class="leftItem backButton">
    <a href="<%= url_for :action => :index %>">Back</a>
  </div>
  <div class="rightItem regularButton">
    <a href="<%= url_for :action => :edit, :id => @serial.object %>">Edit</a>
  </div>
</div>

<div class="content">
  <ul>
    
        <li>
          <div class="itemLabel">Name</div>
          <div class="itemValue"><%= @serial.name %></div>
        </li>
    
        <li>
          <div class="itemLabel">Description</div>
          <div class="itemValue"><%= @serial.description %></div>
        </li>
    
        <li>
          <div class="itemLabel">BrandId</div>
          <div class="itemValue"><%= @serial.brand_id %></div>
        </li>
    
  </ul>
</div>