<%content_for :main do%>
<h2>编辑优惠券</h2>

<hr class="space">

<% form_for @coupon, :url => coupon_url(@coupon),:html=>{:multipart => true} do |f| %>
<%= f.error_messages %>
<fieldset>
	<p>
		<%=f.label :name,"优惠券名称<span class='required'> * </span><br>"%>
		<%=f.text_field :name%>
	</p>

	<p>
		<%=f.label :name_en,"优惠券英文名称<span class='required'> * </span><br>"%>
		<%=f.text_field :name_en%>
	</p>

	<p>
		<%=f.label :discount,"折扣率（单位：折）<span class='required'> * </span><br>"%>
		<%=f.text_field :discount%>
	</p>

	<p>
		<%=f.label :product_id,"适用新品<br>"%>
		<%=f.select :product_id,Product.all.collect{|p| [p.name, p.id]},{:include_blank=>"请选择"},{:style=>"width:220px;"}%>
	</p>

	<p>
		<%=f.label :shop_id,"适用店铺<br>"%>
		<%=f.select :shop_id,Shop.all.collect{|p| [p.name, p.id]},{:include_blank=>"请选择"},{:style=>"width:220px;"}%>
	</p>

	<p>
		<%=f.label :brand_id,"适用品牌<br>"%>
		<%=f.select :brand_id,Brand.all.collect{|p| [p.name, p.id]},{:include_blank=>"请选择"},{:style=>"width:220px;"}%>
	</p>

<% if false %>
	<p>
		<%=f.label :description,"优惠券描述<span class='required'> * </span><br>"%>
		<%=f.text_area :description%>
	</p>
	<p>
		<%=f.label :description_en,"优惠券英文描述<span class='required'> * </span><br>"%>
		<%=f.text_area :description_en%>
	</p>
<% end %>

  <p>
    <%= f.label "优惠券中文描述<span class='required'> * </span><br>" %><br />
	<%= fckeditor_textarea("coupon", "description", :toolbarSet => 'Simple', :width => '100%', :height => '350px',  :path => "/") %>
  </p>
  <p>
    <%= f.label "优惠券英文描述<span class='required'> * </span><br>" %><br />
	<%= fckeditor_textarea("coupon", "description_en", :toolbarSet => 'Simple', :width => '100%', :height => '350px',  :path => "/") %>
  </p>

	<p>
		<button type="submit"><span>提交</span></button> | <a href="/coupons">返回</a>
	</p>
</fieldset>
<%end%>

<%end%>

<%content_for :sidebar do%>
	<%=render :partial=>"search"%>
<%end%>