<%content_for :main do%>
<h2>所有优惠券</h2>
<div class="toolbar">
	<ul class="actions">
		<li>
			<a class="button" href="/coupons/new"><span><img src="/images/admin/add.png" alt="新增"> &nbsp;新增优惠券</span></a>
		</li>
	</ul>
</div>

<hr class="space">

<table class="index">
	<thead>
		<th>优惠券名称</th>
		<th>折扣率</th>
		<th>适用新品</th>
		<th>适用店铺</th>
		<th>适用品牌</th>
		<th>优惠券描述</th>
		<th>操作</th>
	</thead>
	<tbody>
		<%@coupons.each do |coupon|%>
		<tr id="coupon_<%=coupon.id%>">
			<td><a href="/coupons/<%=coupon.id%>"><%=coupon.name%></a></td>
			<td><%=coupon.discount%>折</td>
			<td><%=coupon.product.nil? ? "无" : coupon.product.name%></td>
			<td><%=coupon.shop.nil? ? "无" : coupon.shop.name%></td>
			<td><%=coupon.brand.nil? ? "无" : coupon.brand.name%></td>
			<td><%=coupon.description%></td>
			<td>
				<%= link_to "<img src='/images/admin/edit.png' alt='编辑'> 编辑", edit_coupon_url(coupon)%>
				<%= link_to "<img src='/images/admin/delete.png' alt='删除'> 删除", coupon_url(coupon), :method => :delete, :confirm => "确认要删除此优惠券吗?"%>
			</td>
		</tr>
		<%end%>
	</tbody>
</table>

<%=will_paginate @coupons%>
<%end%>

<%content_for :sidebar do%>
	<%=render :partial=>"search"%>
<%end%>