<%content_for :main do%>
<h2>优惠券 <%=@coupon.name%></h2>

<hr class="space">

<fieldset>
	<p>
		<b>优惠券名称:</b>
		<%=h @coupon.name%>
	</p>

	<p>
		<b>折扣率:</b>
		<%=h @coupon.discount%>折
	</p>

	<p>
		<b>适用新品:</b>
		<%=h @coupon.product.nil? ? "无" : @coupon.product.name%>
	</p>

	<p>
		<b>适用店铺:</b>
		<%=h @coupon.shop.nil? ? "无" : @coupon.shop.name%>
	</p>
	
	<p>
		<b>适用品牌:</b>
		<%=h @coupon.brand.nil? ? "无" : @coupon.brand.name%>
	</p>

	<p>
		<b>优惠券描述:</b>
		<%=h @coupon.description%>
	</p>

	<p>
		<a href="/coupons/<%=@coupon.id%>/edit">编辑</a> | <a href="/coupons">返回</a>
	</p>
</fieldset>

<%end%>

<%content_for :sidebar do%>
	<%=render :partial=>"search"%>
<%end%>