<%@news.each do |news|%>

	<div id="news_<%=news.id%>" class="news">
		<h3><%= tt(news,'title') %></a></h3>
		<span><%=news.news_date.strftime("%Y年%m月%d日")%></span>
		<%= tt(news,'body') %>
	</div>
	
<%end%>

<%=will_paginate @news%>