<%# /app/Shop/ %>

<% if false %>
<div class="pageTitle">
  <h1>Shops</h1>
</div>

<div class="toolbar">
  <div class="leftItem regularButton">
    <a href="<%= Rho::RhoConfig.start_path %>">Home</a>
  </div>
  <div class="rightItem regularButton">
    <a class="button" href="<%= url_for :action => :new %>">New</a>
  </div>
</div>
<% end %>

<div class="content">
  <ul>
    <% @shops.each do |shop| %>
    <li>
      <a href="<%= url_for :action => :show, :id => shop.object %>">
        <span class="title">
          <% if System.get_locale == "zh-Hans" || System.get_locale == "zh-Hant" %>
          <%= shop.name %>
          <% else %>
          <%= shop.name_en %>
          <% end %>
        </span>
        <span class="disclosure_indicator"></span>
      </a>
    </li>
    <% end %>
  </ul>
</div>