<div class="pageTitle">
  <h1>New <%= @video.title %></h1>
</div>

<div class="toolbar">
  <div class="leftItem backButton">
    <a class="cancel" href="<%= url_for :action => :index %>">Cancel</a>
  </div>
</div>

<div class="content">
  <form method="POST" action="<%= url_for :action => :create %>">
    <input type="hidden" name="id" value="<%= @video.object %>"/>
    <ul>
      
          <li>
            <label for="video[title]" class="fieldLabel">Title</label>
            <input type="text" name="video[title]" <%=
            placeholder("Title") %> />
          </li>
      
          <li>
            <label for="video[description]" class="fieldLabel">Description</label>
            <input type="text" name="video[description]" <%=
            placeholder("Description") %> />
          </li>
      
          <li>
            <label for="video[url]" class="fieldLabel">Url</label>
            <input type="text" name="video[url]" <%=
            placeholder("Url") %> />
          </li>
      
          <li>
            <label for="video[product_id]" class="fieldLabel">Product</label>
            <input type="text" name="video[product_id]" <%=
            placeholder("Product") %> />
          </li>
      
          <li>
            <label for="video[brand_id]" class="fieldLabel">Brand</label>
            <input type="text" name="video[brand_id]" <%=
            placeholder("Brand") %> />
          </li>
      
    </ul>
    <input type="submit" class="standardButton" value="Create"/>
  </form>
</div>