<h2>所有品牌</h2>

<div class="toolbar">
  <ul class="actions">
    <li>
      <a class="button" href="/brands/new"><span><img src="/images/admin/add.png" alt="新增"> &nbsp;新增品牌</span></a>
    </li>
  </ul>
</div>

<table class="index">
  <thead>
    <th><a class="ascending" href="#">▲&nbsp;品牌名</a></th>
    <th><a href="#">简介</a></th>
    <th>操作</th>
  </thead>
  <tbody>
  <%@brands.each do |brand|%>
    <tr id="brand_<%=brand.id%>">
      <td><a href="#" target="_blank"><%=brand.name%></a></td>
      <td><%=brand.description%></td>
      <td>
      	<%= link_to "<img src='/images/admin/edit.png' alt='编辑'> 编辑", edit_brand_url(brand)%>
      	<%= link_to "<img src='/images/admin/delete.png' alt='删除'> 删除", brand_url(brand), :method => :delete, :confirm => "确认要删除此品牌吗?"%>
      </td>
    </tr>
  <%end%>
  </tbody>
</table>

<div id="sidebar">
  <% form_tag :action => :search do%>
    <div class="box">
      <h3>品牌搜索</h3>
      <p>
        品牌名<br>
        <%= text_field_tag :brand_name%>
      </p>
      <p>
        简介<br>
        <%= text_field_tag :brand_description%>
      </p>
      <p><button type="submit"><span>搜索</span></button></p>
    </div>
  <% end %>
</div>