<%content_for :main do%>
<h2>品牌 <%=@brand.name%></h2>

<hr class="space">

	<fieldset>
	  <p>
	  	<b>品牌名:</b>
	  	<%=h @brand.name%>
	  </p>

	  <p>
	  	<b>简介:</b>
	  	<%=h @brand.description%>
	  </p>


	  <%@brand.assets.each do |asset|%>
	  	<p>
	    	<%= image_tag asset.uploaded_data.url %>
	    </p>
	  <%end%>

	  <p>
	    <a href="/brands/<%=@brand.id%>/edit">编辑</a> | <a href="/brands">返回</a>
	  </p>
	</fieldset>

<%end%>

﻿<%content_for :sidebar do%>
	<%=render :partial=>"search"%>
<%end%>