<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh" lang="zh">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title><%= yield :title %></title>

	<%= stylesheet_link_tag "screen" %>
	<!--[if lt IE 8]>
	<%= stylesheet_link_tag "ie" %>
	<![endif]-->
	<%= stylesheet_link_tag "syntaxhighlighter/shCore", "syntaxhighlighter/shThemeDefault", :cache => "syntaxhighlighter" %>

	<%= stylesheet_link_tag 'application'%>
	<%= javascript_include_tag "fckeditor/fckeditor" %>
	<%= javascript_include_tag "syntaxhighlighter/shCore", "syntaxhighlighter/shBrushJava", "syntaxhighlighter/shBrushObjectiveC", :cache => "syntaxhighlighter" %>
	
	<%= yield :header %>
</head>

<body>
	<div id="container">
		<div id="header">
			<ul id="login-nav" class="fRight">
				<li>您好，jjicetea</li>
				<li>|</li>
				<li><a href="/logout">注销</a></li>
			</ul>
			<h1 class="logo"><b>theCarnaby 管理平台</b></h1>
			<hr class="space">
		</div>

		<div id="menu">
			<ul>
				<%=top_menus%>
			</ul>
		</div>

		<div id="sub-menu">
		</div>

		<div id="content" class="with-sidebar">
			<%= flash_message %>

			<div id="main">
				<%= yield :main%>
			</div>

			<div id="sidebar">
				<%= yield :sidebar%>
			</div>
		</div>

		<div id="footer">
		</div>
	</div>
</body>
</html>